@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans', sans-serif;
}

:root {
  --primary-color: rgb(57, 140, 222);
  --secundary-color: #ebeef5;
  --color-inputs: rgb(111, 111, 111);
  --background-button-hover: #2865a2dc;
  --border-hover: #b5f8ffdc;
}